@font-face {
    font-family: "Mango Regular";
    src: url("./fonts/Mango-Regular.woff2");
}
@font-face {
    font-family: "Dosis";
    src: url("./fonts/Dosis-VariableFont_wght.ttf");
}


img.sidebar-logo {
    width: 64px;
    max-width: unset;
    margin: 5px;
}

h1 {
    font-family: "Mango Regular", var(--font-stack--headings), sans-serif;
    font-size: 4em;
}

/*sidebar site title*/
span.sidebar-brand-text {
    font-family: var(--font-stack--headings);
    font-weight: 700;
}
/*sidebar page listing*/
div.sidebar-tree .reference:hover {
    /*we are sure it's always white no matter the theme*/
    color: #FEFEFE;
}

/* custom vertical column split system*/
div.columns {
    display: flex;
    gap: 2%;
}
div.columns > * {
    flex: 1;
}

/* improve tables look */
table.docutils {
    width: 100%;
}
table.docutils td, table.docutils th {
    text-align: left;
}
