name: test

on:
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'README.md'
      - 'CHANGELOG.md'
      - 'TODO.md'
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Run unittests Python ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.7"
          - "3.11"
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Poetry
        run: pipx install poetry==1.8.2
      - name: Install Python ${{ matrix.python-version }}
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          update-environment: false
      - run: poetry env use ${{ steps.setup-python.outputs.python-path }}
      - run: poetry install --extras "tests"
      - run: poetry run pytest ./tests
